<div class="ned">
<button><a href="/caes/">Voltar</a></button>
<button><a href="/">Página Inicial</a></button>
</div>
<h1 class="end"><span class="ped">Altere </span>os dados do cão</h1>

  <form action="/caes/updatecao" method="POST" class="form">
  <input type="hidden" name="id" value="{{cao.id}}">
  
  <form action="/caes/" method="POST" class="containerz">
    <div class="form-home">
  
  <h3>Cor:</h3>
  <select name="cor">
    <option name="cor">caramelo</option>
    <option name="cor">branco</option>
    <option name="cor">preto</option>
    <option name="cor">cinza</option>
    <option name="cor">malhado</option>
  </select>

  <h3>Sexo:</h3>
  <select name="sexo">
    <option>M</option>
    <option>F</option>
  </select>
 
  <h3>Porte:</h3>
    <select name="porte">
      <option>Filhote</option>
    <option>Pequeno</option>
    <option>Médio</option>
    <option>Grande</option>
  </select>

  <h3>Município:</h3>
    <select name="municipio">
    <option>Vitória</option>
    <option>Serra</option>
  </select>

  <h3>Bairro:</h3>
    <select name="bairro">
    <option>Barcelona</option>
    <option>Porto Canoa</option>
    <option>Mata da Serra</option>
    <option>Maringá</option>
    <option>Laranjeiras</option>
    <option>José de Anchieta</option>
    <option>Serra Dourada</option>
    <option>Nova Carapina</option>
    <option>Goiabeiras</option>
    <option>Praia do Canto</option>
    <option>Mata da Praia</option>
    <option>Camburi</option>
    <option>Maruípe</option>
    <option>Jardim da Penha</option>
  </select>

  <h3>Região:</h3>
   <textarea name="regiao" id="" cols="30" rows="10" style="resize: none">
   </textarea>
    <input type="submit" value="Cadastrar" class="sub">
</div>

</form>
 
 <div  id="rdp">
    <h3>Procure o seu cão aqui </h3>
      <button><a href="/caes/">Lista de cães</a></button>  
</div>