@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #1e592b;
}

h1,
h2 {
  text-align: center;
  margin: 20px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 800px;
}

.container .txt {
  color: white;
}

.lost {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #57270f;
  height: 80px;
  border-bottom: 2px solid #9acd32;
}

.bt {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #57270f;
  height: 80px;
  border-bottom: 5px solid #1e592b;
}
.lost button {
  background-color: #9acd32;
  width: 120px;
  margin-left: 20px;
  padding: 7px;
  border: none;
  border-radius: 2%;
  cursor: pointer;
}

.lost button a {
  text-decoration: none;
  color: white;
  
}

.lost button:hover {
  color: white;
  background-color: #1e592b;
  font-weight: bold;
  transition: 0.5s;
}

.lost h3 {
  color: white;
}

.form-home {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  color: #57270f;
  padding: 30px;
  background-color:#9acd32 ;
}

.form-home select {
  padding: 8px;
  width: 100%;
}

.form-home h3 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.form-homex {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  margin-bottom: 70px;
  color: #57270f;
  padding: 30px;
  background-color:#9acd32 ; 
}


 

.form-home .subz:hover {
  background-color: green;
  color: white;
}

.container .subz {
  width: 150px;
  height: 30px;
  margin-bottom: 10px;
  margin: auto;
  margin-top: 10px;
}

#rdp {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #57270f;
  height: 80px;
  border-top: 2px solid #9acd32;
}

#rdp h3 {
  color: white;
}

#rdp button {
  background-color: #9acd32;
  width: 120px;
  margin-left: 20px;
  padding: 7px;
  border: none;
  border-radius: 2%;
  cursor: pointer;
}

#rdp button a {
  text-decoration: none;
  color: white;
}

#rdp button:hover {
  color: white;
  background-color: #1e592b;
  font-weight: bold;
  transition: 0.5s;
}

/*Página de lista */

.cab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #57270f;
  height: 100%;
  border-bottom: 2px solid #9acd32; 
}

.cab .edic {
  color: #9acd32;
  font-size: 15px;
  font-weight: bold;
}

.cab .edic .ID{
  color:red;
  font-size: 15px;
}


.cab a {
  text-decoration: none;
  color: white;
  background-color: #9acd32;
  padding: 5px;
  text-align: center;
  margin-right: 25px;
  width: 120px;
}

.cab a:hover{
  color: white;
  background-color: #1e592b;
  font-weight: bold;
  transition: 0.5s;
}


.caes-container .lista {
  margin-left: 25px;
  color: wheat;
}

.lista a {
  color: #57270f;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.id {
  font-size: 15px;
  background-color: #603000;
  padding: 2px;
}

.idt {
  background-color: #1e592b;
  width: 5%;
  padding: 2px;
  margin-bottom: 20px;
  border-bottom: 2px solid #9acd32;
  border-right: 2px solid #9acd32;
}

.idt button {
  background-color: #1e592b;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.idt button a {
  color: white;
}

.idt button:hover {
  background-color: #9acd32;
  width: 100%;
}

.data {
  background-color: #9acd32;
  width: 25%;
  margin-bottom: 20px;
  padding: 20px;
  color: #603000;
  height: 230px;
}

.data h4 {
  font-weight: bold;
  font-size: 17px;
}

.spn {
  color: #1e592b;
  padding-left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}



/*Página de Remoção do Cadastro*/
#cao-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #57270f;
  height: 80px;
  border-bottom: 2px solid #9acd32;
  padding-left: 25px;
}

#cao-nav a {
  text-decoration: none;
  color: white;
  background-color: #9acd32;
  width: 5%;
  padding: 5px;
  text-align: center;
  width: 120px;
  margin-right: 25px;
}

#cao-nav a:hover {
  background-color: #1e592b;
  font-weight: bold;
}

.ced {
  margin: 0 auto;
  height: 230px;
  padding: 20px;
  background-color: #9acd32;
  width: 25%;
  border: 5px solid #57270f;
}

.ced .dds {
  color: #1e592b;
  text-transform: uppercase;
  padding-left: 10px;
}

.ced .ddsref {
  font-size: 18px;
  color: #1e592b;
  font-weight: bold;
}

.ced h4 {
  color: #57270f;
  padding: 3px;
}
 .ref h4{
  padding-top: 25px;
  padding-bottom: 10px;
}

.containerx h1 {
  color:#9acd32;
  padding-top: 20px;
  font-size: 45px;
}

.containerx h2 {
  color: white;
  margin-bottom: 10px;
  margin-top: 40px;
}

.containerx .reg {
  color: #DC143C;
  text-transform: uppercase;
  font-style: italic;
}

.containerx .edrm  {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 30px;
}

.edrm button{
  margin-bottom: 20px;
  background-color: #1E90FF;
  text-align: center;
  width: 120px;
  border: none;
  text-transform: uppercase;
  margin: 0 15px;
  font-weight: bold;
}
  
.edrm button a {
  color: white;
  text-decoration: none;
}

.edrm button:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: blue;
}

.edrm input {
  margin-bottom: 20px;
  background-color: #DC143C;
  padding: 5px;
  text-align: center;
  width: 120px;
  border: none;
  text-transform: uppercase;
  color: white;
  margin: 0 15px;
  font-weight: bold;
}

.edrm input:hover {
  background-color: red;
}

/*Página de Edição do Cadastro*/

.ned {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #57270f;
  height: 80px;
  border-bottom: 2px solid #9acd32;
  padding-left: 25px;
  padding-right: 25px;
}

.ned button {
  background-color: #9acd32;
  width: 120px;
  padding: 7px;
  border: none;
  border-radius: 2%;
  cursor: pointer;
}

.ned a {
  text-decoration: none;
  color: white;
}

.ned button:hover {
  background-color: #1e592b;
  font-weight: bold;
}

.containerz .form-home{
  display: flex;
  justify-content: center;
}
.form-home {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  margin-bottom: 70px;
  color: #57270f;
  padding: 30px;
  background-color:#9acd32 ;
  
  
}

.form-home select {
  padding: 8px;
  width: 100%;
}

.form-home input {
  background-color: #1e592b;
  margin-top: 15px;
  padding: 10px;
  border: none;
  color: white;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}

.form-home input:hover{
  background-color: green;
}

